*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    color: white;
    background-color: #000;
    text-align: center;
}
.name{
    font-size: 3em;
}
.tag{
    color: skyblue;
    margin-bottom: 15px;
    font-size: large;
}
.tag > span {
	user-select: all;
}
.divider{
    margin: 0px 15px;
}
.font-large{
    font-size: x-large;
}

.font-large a, .font-large a:hover{
    text-decoration: none;
    color:inherit;
}
.subheading{
    font-size: x-large;
    color: #aaa;
}
.subheading b{
    color: #ddd;
}
.years{
    font-size: medium;
}
.subpart{
    margin: 20px;
    padding: 20px;
}
.twopane {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.socialicon{
    height: 28px;
}
.hoverlink{
    transition: color 0.1s;
    transition-timing-function: ease-in;
}
.links a{
    text-decoration: none;
}
.links img{
    margin: 15px 5px;
    transition: transform 0.1s ease-out, filter 0.1s ease-out;
}
.links img:hover{
    filter: opacity(.5);
		transform: scale(1.1);
}
.bio p{
    font-size: 1.2rem;
    padding: 0px 5%;
}
.bio p a{
    color: #ccc;
    text-decoration: none;
    border-bottom: solid 2px #222;
}
@media only screen and (min-width: 800px){
    .bio p {
        padding: 0 15%;
        font-size: 1.4rem;
    }
}
#bloglist, #videolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
    border-radius: 15px;
    flex: 0 1 25rem;
}
.card-title{
    margin: 16px;
    font-size: 1.25em;
    line-height: 1.25;
}
.card .btn{
    padding: 10px 28px;
    border-radius: 8px;
}
.imgcon {
    width: 100%;
    padding-top: 55%;
    overflow: hidden;
    position: relative;
}
.card img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}
footer{
    font-size: 1.2em;
    height: 70px;
    line-height: 70px;
    width: 100%;
}
footer a, footer a:hover{
    text-decoration: none;
    color: #ddd;
}
footer a:hover{
    color: white;
}
