/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    color: white;
    background-color: #000;
    text-align: center;
}
hr{
    background-color: white;
}
hr.short{
    margin:50px 35% 50px 35%;
}
.center{
    text-align: center;
}
.heading{
    background-color: #2a2a2a;
}
.name{
    font-size: 3em;
}
.heading span{
    color: #5f5;
}
.sayn{
    width: 100px;
    display: block;
    margin: 0 auto;
    z-index: -1;
}
@media only screen and (min-width: 800px){
    .sayn {
        width: 125px;
    }
}
.tag{
    color: skyblue;
    margin-bottom: 15px;
}
.tag span{
    margin: 0px 15px;
}
.subheading{
    font-size: x-large;
    color: #aaa;
}
.subheading b{
    color: #ddd;
}
.years{
    font-size: medium;
}
.subpart{
    margin: 20px;
    padding: 20px;
    border: 4px dotted #111;
}
.subpart h2{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.twopane {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.twopane .links {
    flex: 1 1 20rem;
}
.twopane .bio {
    flex: 1 1 40rem;
}
.socialicon{
    height: 28px;
}
.hoverlink{
    color: #00c33b;
    font-weight: 600;
    transition: color 0.2s;
    transition-timing-function: ease-in;
}
.hoverlink:hover{
    color: #00922c;
}

.links a{
    text-decoration: none;
}
.links img{
    margin: 15px 5px;
    transition: height 0.2s, margin 0.2s;
}
.links img:hover{
    height: 40px;
    margin: 0px 5px;
}
font a, font a:hover{
    text-decoration: none;
    color:inherit;
}
.bio p{
    font-size: 1.2rem;
    padding: 0px 5%;
}
.bio p a{
    color: inherit;
    text-decoration: none;
    border-bottom: dotted 2px gray;
}
@media only screen and (min-width: 800px){
    .bio p {
        padding: 0 15%;
        font-size: 1.4rem;
    }
}
#bloglist, #videolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    flex: 0 1 30rem;
    background-color: #222;
}
.card-title{
    font-size: 1.25em;
    line-height: 1.25;
}
.card .btn{
    padding: 10px 15%;
    font-size: large;
    border-radius: 50px;
}
.imgcon {
    width: 100%;
    padding-top: 55%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}
.card-text img {
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}
.card-footer {
    background-color: inherit;
    border: none;
    color: gray;
}
footer{
    font-size: 1.2em;
    color: gray;
    background-color: #222;
    padding: 30px;
    text-align: center;
    margin: 0px;
    width: 100%;
}
footer a, footer a:hover{
    text-decoration: none;
    color: #ddd;
}
footer a:hover{
    color: white;
}