body{
    font-family: 'Roboto', sans-serif;
}
textarea{
    resize: none;
}
.heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.subtext{
    text-align: center;
    padding-bottom: 50px;
}
#input{
    margin: 20px;
    width: 60%;
    border: dimgray solid 2px;
    border-radius: 20px;
    padding: 10px;
}
#parent{
    text-align: center;
}
#output{
    border:none;
    text-align: center;
}
#output, #input, #submit, #copy{  
    outline: none;
}
#submit{
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    background-color: dodgerblue;
    border: none;
    font-weight: 1000;
}
#submit:hover{
    background-color: #3F51B5;
    color: white;
    cursor: pointer;
}
#color1{
    color: dodgerblue;
}
#color2{
    color: #D32F2F;
}
#output {
    font-size: 1.75em;
    width: 80%;
    margin: auto;
}
#input, #submit{
    font-size: 1em;
}
#copy{
    background-color: #00BCD4;
    font-family: Arial;
    color: whitesmoke;
    padding: 15px;
    border-radius: 5px 30px 30px 30px;
    border: none;
    margin-top: 30px;
}

#copy:hover{
    background-color: #0097A7;
    cursor: pointer;
}

#copy:disabled{
    cursor: not-allowed;
    background-color: dimgray;
    color: black;
    display: none;
}