body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: block;
    margin: 20px auto;
    width: 650px;
}

#homecarousel{
    width: 50%;
    margin: 50px auto;
}

.subtext{
    color: #444;
    font-weight: 300;
}
.subpara{
    margin: 2rem 20%;
    font-size: 1.2rem;
    color: #222;

}
.cuisine{
    text-align: center;
    margin: 2rem auto;
}
.cuisine p{
    font-size: 1.2rem;
    margin: 2rem 20%;
}
.cuisine img{
    width: 600px;
    margin: 2rem auto;
    border: 3px solid black;
    border-radius: 25px;
}
.cuisine h1{
    margin-top: 2rem;
}


.dest{
    text-align: center;
    margin: 2rem auto;
}
.dest p{
    font-size: 1.2rem;
    margin: 2rem 20%;
}
.dest img{
    width: 600px;
    margin: 2rem auto;
    border: 3px solid black;
    border-radius: 25px;
}
.dest h1{
    margin-top: 2rem;
}

.dest det{
    font-size: 1.2rem;
    margin: 2rem 20%;
}
.orange{
    color: orange;
}
.green{
    color: green;
}
.blue{
    color: #05b;
}


@media (max-width: 1400px){
    #homecarousel{
        width: 70%;
    }
    .subpara{
        margin: 2rem 10%;
    }
    .cuisine p{
        margin: 2rem 10%;
    }
}
@media (max-width: 650px){
    #homecarousel{
        width: 75%;
    }
    .header{
        width: 100%;
    }
    .subpara{
        margin: 2rem 2rem;
    }
    .cuisine p{
        margin: 2rem 2rem;
    }
    .cuisine img{
        width: 400px;
    }
    .dest p{
        margin: 2rem 2rem;
    }
    .dest img{
        width: 400px;
    }
}
