@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	outline: none;
}
body{
	margin: 20px;
}
textarea{
	resize: none;
}
.heading{
	margin-bottom: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 40px;
}
#mailform{
	display: flex;
	flex-direction: column;
	background-color: lightsteelblue;
	padding: 100px 10px;
	border-radius: 10px;
}
.btn{
	margin: 10px auto;
	padding: 8px 25px;
	border-radius: 100px;
	font-size: large;
	background-color: #3F51B5;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	color: #fff;

	transition-property: background;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}
.btn:hover{
	background-color: #7A71F5;
}
.form-group {
	margin: 10px auto;
	display: flex;
	flex-direction: column;
}
.form-control{
	border: 0px;
	padding: 10px;
	margin: 10px 0px;
	width: 400px;
	border-radius: 5px;
	border-bottom: 4px solid white;
	font-family: 'Lucida Grande','Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;

	transition-property: border-bottom-color;
	transition-duration: 0.5s;
}
.form-control:focus {
	border-bottom: 4px solid #3F51B5;
}
label{
	color: #2a2a2a;
	font-size: 20px;
}